body {
  box-sizing: border-box;
}

#__next {
  height: 100vh;
  overflow: auto;
  background-color: #002f4d;
}

.app-container,
.app-card,
.chat-container {
  height: 100%;
}

.chat-content {
  flex: 1;
  height: 0;
  overflow-y: auto;
  width: 100%;
  background-color: #F8F9FA;
}

.chat-input {
  width: 100%;
}

.chat-input-textarea {
  flex-grow: 1;
}

.chat-input-submit {
  margin-left: 10px;
}

.chat-bubble {
  align-items: flex-start;
}

.chat-prompt {
  background: transparent;
  box-shadow: none;
  border: 0;
}